#set($root = "foo bar baz")
#set($Statuses = "Statuses{
    Status
    When
    Description
    Data
}")

{
    "version": "2018-05-29",
    "method": "POST",
    "params": {
    "headers": {
        "Content-Type": "application/json",
        "x-api-key": "${fc_finance_api_key}"
    },
    "body":{
    "query":"{ GetDocument(id: \"$context.arguments.id\" ) {
        $root
        $Statuses
    },
    "resourcePath":"/"

}
